/* 
    Document   : style
    Created on : Nov 12, 2011, 9:11:05 AM
    Author     : joukojo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    font-family: Helvetica,Arial;
    font-size: 12px;
    font-variant: small-caps;

}

ul#imagelist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

img#thumbimage {
    width: 50px;
}


#prev {
    width: 35px;
    height: 43px;
    background:url('../images/assorted_glass-buttons.png') -80px -0px, no-repeat;

}

#next {
    width: 35px;
    height: 43px;
    background:url('../images/assorted_glass-buttons.png') -120px -0px, no-repeat;
    margin-right: 5px;
    margin-left: 200px;
    margin-top: -44px;
}
#controllers {
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 200px;
}

.currentImage {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
ul.folder-item  {
list-style:none;
padding-left: 5px;
}

ul.folder-item li {
    background-image: url('../images/Tango-feet.png');
    padding-bottom: 12px;
    height: 16px;
    width: 30px;
    margin-bottom: 5px;
}

ul.folder-item li a {
padding-left: 35px;
text-decoration: none;

}


ul.folder-item li a:hover {
text-decoration: underline;
}


.folder-open {
    background-position: 127px 2145px;
}

.folder-closed {
    background-position: 103px 2145px;
}